
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Afacad Flux", sans-serif;
  }
h1 {
    text-align: center;
    font-size: 2rem;
}

section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.marker {
    position: relative;
    height: 25px;
    width: 200px;
    text-align: end;
    padding-right: 20px;
    font-weight: 500;
}

.marker::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 117px;
    background-color: hsl(0, 0%, 100%, 0.55);
    box-shadow: 0 0 0.5px hsl(0, 0%, 100%, 0.55);
    z-index: 10;
    padding-right: 5px;
    right: 16px;
    top: 0;
  }
  
  .marker::before {
    content: "";
    position: absolute;
    left: 62px;
    height: 25px;
    width: 4px;
    border-left: 3px solid hsla(0, 0%, 13%, 1);
    border-right: 3px solid hsla(0, 0%, 13%, 1);
    z-index: 11;
  }

.red {
    background-color: rgb(255,0,0);
    box-shadow: 0 0 20px hsla(0, 100%, 50%, 1);
}
.green {
    background-color: rgb(0,150,0);
    box-shadow: 0 0 20px hsla(120, 100%, 25%, 1);
}

.blue {
    background-color: rgb(0,0,255);
    box-shadow: 0 0 20px hsla(240, 99%, 50%, 1);
}
.chathams-blue {
background-color: #28546c;
box-shadow: 0 0 20px hsla(201, 46%, 29%,1);
}
.shaded-purple {
background-color: #76158e;
box-shadow: 0 0 20px hsla(288, 73%,32%,1);
}
.bittersweet {
background-color: #ff5c5c;
box-shadow: 0 0 20px hsla(0, 100%,68%,1);
}
.sea-pink {
background-color: #db8080;
box-shadow: 0 0 20px hsla(0, 55.8%,68%,1);
}
.atomic-tangerine{
background-color: #fd935d;
box-shadow: 0 0 20px hsla(20,97.6%,67.8%,1);
}
.medium-purple{
background-color: #8f70ea;

}
.cornflower-blue{
background-color: #7099ea;

}
.mindaro{
background-color:#cfea70;

}
.pastel-green{
background-color:#70ea8c;

}
.turqoise-blue{
background-color:#70dbea;

}
.persian-pink{
background-color:#ea70b9;

}
.la-palma{
background-color: #42903c;

}
.goldenrod{
background-color:#cfd463;

}